@use '@angular/material' as mat;

$xuanwu-base: mat.$blue-palette;
$xuanwu-neutral: mat.$violet-palette;
$xuanwu-semantic: mat.$cyan-palette;
$xuanwu-error: mat.$red-palette;

$xuanwu-primary: $xuanwu-base;
$xuanwu-tertiary: $xuanwu-semantic;
