@use '@angular/material' as mat;
@use 'sass:map';

$xuanwu-base: mat.$blue-palette;
$xuanwu-neutral: map.get($xuanwu-base, neutral);
$xuanwu-semantic: mat.$cyan-palette;
$xuanwu-error: mat.$red-palette;
