@use '@angular/material' as mat;
@use './palette' as palette;
@use './typography' as typography;

$xuanwu-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: palette.$xuanwu-base,
    tertiary: palette.$xuanwu-semantic,
  ),
  typography: typography.$xuanwu-typography,
  density: (
    scale: 0,
  )
));

$xuanwu-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: palette.$xuanwu-base,
    tertiary: palette.$xuanwu-semantic,
  ),
  typography: typography.$xuanwu-typography,
  density: (
    scale: 0,
  )
));
