$xuanwu-typography: (
  brand-family: 'Roboto, system-ui, -apple-system, sans-serif',
  plain-family: 'Roboto, system-ui, -apple-system, sans-serif',
  bold-weight: 700,
  medium-weight: 500,
  regular-weight: 400
);
