name: Actionlint

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rhysd/actionlint@v1
