/**
 * Team Create Dialog Styles
 */

.team-create-dialog {
  padding: 1.5rem;
  min-width: 400px;

  h2 {
    margin: 0 0 1rem 0;
    color: var(--mat-sys-on-surface, #1d1b20);
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    margin: 0;
    color: var(--mat-sys-on-surface-variant, #49454f);
    font-size: 0.875rem;
  }
}